/* VARIABLES */

:root {
  /* colors  */
  --white-color: #ffffff;
  --yellow-color: #ffcc01;
  --heder-text-color: #2c4548;
  --search-input-text-color: #919eb1;

  /* fonts  */
  --montserrat-font: "Montserrat", sans-serif;

  /* fonts weight  */
  --normal-fw: 400;
  --medium-fw: 500;
  --semi-bold-rw: 600;
  --bold-fw: 700;
}

/* COMMON STYLES */

html,
body {
  margin: 0;
}

/* CUSTOM STYLES */

.center-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1110px;
  width: 100%;
  margin-top: 22px;
  font-family: var(--montserrat-font);
}

.logo {
  display: inline-block;
  font-weight: var(--semi-bold-rw);
  max-width: 70px;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto 0 0;
  color: var(--heder-text-color);
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 453px;
  margin-right: 94px;
}

.top-navigation li {
  font-weight: var(--normal-fw);
  font-size: 13px;
  color: var(--heder-text-color);
  white-space: nowrap;
  list-style: none;
}

.join-us-buttons-wrapper {
  display: flex;
}

.join-us-buttons-wrapper button {
  font-family: var(--montserrat-font);
  border: none;
  font-weight: var(--normal-fw);
  font-size: 13px;
  cursor: pointer;
}

.join-us-btn {
  margin-right: 16px;
  width: fit-content;
  background: none;
}

.getting-started-btn {
  width: 145px;
  height: 40px;
  background-color: var(--yellow-color);
  border-radius: 5px;
  padding-left: 13px;
}

/*/////////// BANNER ////////////*/

.banner {
  position: relative;
  max-width: 1110px;
  width: 110%;
  height: 630px;
  font-family: var(--montserrat-font);
  margin-top: 24px;
}

.banner-background-layer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1168px;
  width: 110%;
  height: 630px;
  z-index: 0;
}

.white-part {
  position: relative;
  max-width: 208px;
  width: 100%;
  background-color: var(--white-color);
}

.scroll-down-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-47px, -55px) rotate(-90deg);
  color: var(--search-input-text-color);
}

#icon-arrow-left2 {
  transform: scaleX(2);
}

.scroll-down-text {
  margin-left: 20px;
  font-family: var(--montserrat-font);
  font-size: 13px;
}

.background-location-wrapper {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 630px;
  background-color: #96bece;
}

.location-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 590px;
  width: 100%;
  height: 80px;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.phone-location-icon {
  color: var(--white-color);
  font-size: 25px;
  margin-right: 30px;
}

.phone-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51%;
  font-size: 18px;
  font-weight: var(--semi-bold-rw);
}

.address-wrapper {
  display: flex;
  align-items: center;
  width: 49%;
  font-size: 18px;
}

.banner-front-layer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  width: 110%;
  height: 630px;
  z-index: 1;
}

.title-input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 91px;
  max-width: 620px;
  width: 100%;
}

.banner-title {
  font-weight: var(--bold-fw);
  font-size: 58px;
  line-height: 78px;
  margin-bottom: 43px;
  word-spacing: -4px;
}

.input-wrapper {
  display: flex;
  position: relative;
  border: none;
  border-radius: 5px;
  max-width: 483px;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

#icon-search {
  position: absolute;
  top: 27px;
  left: 30px;
  color: var(--search-input-text-color);
  font-size: 17px;
}

.banner-input {
  width: 305px;
  border: none;
  outline: none;
  background: none;
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--normal-fw);
  color: var(--search-input-text-color);
  background-color: var(--white-color);
  padding-left: 57px;
}

.search-button {
  width: 118px;
  border: none;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
  cursor: pointer;
}

/* ////////     STATISTICS      /////////// */

.statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  max-width: 1110px;
  width: 100%;
}

.company-statistics {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
}

.company-statistics h3 {
  display: block;
  max-width: 310px;
  width: 100%;
  font-family: var(--montserrat-font);
  font-size: 38px;
  font-weight: var(--bold-fw);
  margin-top: 0;
  margin-bottom: 55px;
}

.company-statistics p {
  margin: 0;
  font-family: var(--montserrat-font);
  font-size: 13px;
  font-weight: var(--normal-fw);
  line-height: 30px;
  color: #1f373d;
}

.company-statistics :nth-child(2) {
  margin-bottom: 30px;
}

.statistics-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 430px;
  width: 100%;
}

.statistics-boxes :nth-child(3) {
  margin-bottom: 0;
}

.statistics-boxes :nth-child(4) {
  margin-bottom: 0;
}

.statistic-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin-bottom: 30px;
}

.statistic-value {
  font-size: 40px;
  color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
}

.statistic-label {
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
}
