/* VARIABLES */

:root {
  /* colors  */
  --white-color: #ffffff;
  --yellow-color: #ffcc01;
  --heder-text-color: #1e383d;
  --search-input-text-color: #919eb1;

  /* fonts  */
  --montserrat-font: "Montserrat", sans-serif;

  /* fonts weight  */
  --normal-fw: 400;
  --medium-fw: 500;
  --semi-bold-rw: 600;
  --bold-fw: 700;
}

/* COMMON STYLES */

html,
body {
  margin: 0;
}

/* CUSTOM STYLES */

.center-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1110px;
  width: 100%;
  margin-top: 22px;
  font-family: var(--montserrat-font);
}

.logo {
  display: inline-block;
  font-weight: var(--semi-bold-rw);
  max-width: 70px;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto 0 0;
  color: var(--heder-text-color);
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 453px;
  margin-right: 94px;
}

.top-navigation li {
  font-weight: var(--normal-fw);
  font-size: 13px;
  color: var(--heder-text-color);
  white-space: nowrap;
  list-style: none;
}

.join-us-buttons-wrapper {
  display: flex;
}

.join-us-buttons-wrapper button {
  font-family: var(--montserrat-font);
  border: none;
  font-weight: var(--normal-fw);
  font-size: 13px;
  cursor: pointer;
}

.join-us-btn {
  margin-right: 16px;
  width: fit-content;
  background: none;
}

.getting-started-btn {
  width: 145px;
  height: 40px;
  background-color: var(--yellow-color);
  border-radius: 5px;
  padding-left: 13px;
}

/*/////////// BANNER ////////////*/

.banner {
  position: relative;
  max-width: 1110px;
  width: 110%;
  height: 630px;
  font-family: var(--montserrat-font);
  margin-top: 24px;
}

.banner-background-layer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1168px;
  width: 110%;
  height: 630px;
  z-index: 0;
}

.white-part {
  position: relative;
  max-width: 208px;
  width: 100%;
  background-color: var(--white-color);
}

.scroll-down-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-47px, -55px) rotate(-90deg);
  color: var(--search-input-text-color);
}

#icon-arrow-left2 {
  transform: scaleX(2);
}

.scroll-down-text {
  margin-left: 20px;
  font-family: var(--montserrat-font);
  font-size: 13px;
}

.background-location-wrapper {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 630px;
  background-color: #96bece;
}

.location-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 590px;
  width: 100%;
  height: 80px;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.phone-location-icon {
  color: var(--white-color);
  font-size: 25px;
  margin-right: 30px;
}

.phone-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51%;
  font-size: 18px;
  font-weight: var(--semi-bold-rw);
}

.address-wrapper {
  display: flex;
  align-items: center;
  width: 49%;
  font-size: 18px;
}

.banner-front-layer {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  width: 110%;
  height: 630px;
  z-index: 1;
}

.title-input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 91px;
  max-width: 620px;
  width: 100%;
}

.banner-title {
  font-weight: var(--bold-fw);
  font-size: 58px;
  line-height: 78px;
  margin-bottom: 43px;
  word-spacing: -4px;
}

.input-wrapper {
  display: flex;
  position: relative;
  border: none;
  border-radius: 5px;
  max-width: 483px;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

#icon-search {
  position: absolute;
  top: 27px;
  left: 30px;
  color: var(--search-input-text-color);
  font-size: 17px;
}

.banner-input {
  width: 305px;
  border: none;
  outline: none;
  background: none;
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--normal-fw);
  color: var(--search-input-text-color);
  background-color: var(--white-color);
  padding-left: 57px;
}

.search-button {
  width: 118px;
  border: none;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
  cursor: pointer;
}

/* ////////     STATISTICS      /////////// */

.statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  max-width: 1110px;
  width: 100%;
}

.company-statistics {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
}

.company-statistics h3 {
  display: block;
  max-width: 310px;
  width: 100%;
  font-family: var(--montserrat-font);
  font-size: 38px;
  font-weight: var(--bold-fw);
  margin-top: 0;
  margin-bottom: 55px;
}

.company-statistics p {
  margin: 0;
  font-family: var(--montserrat-font);
  font-size: 13px;
  font-weight: var(--normal-fw);
  line-height: 30px;
  color: #1f373d;
}

.company-statistics :nth-child(2) {
  margin-bottom: 30px;
}

.statistics-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 430px;
  width: 100%;
}

.statistics-boxes :nth-child(3) {
  margin-bottom: 0;
}

.statistics-boxes :nth-child(4) {
  margin-bottom: 0;
}

.statistic-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin-bottom: 30px;
}

.statistic-value {
  font-size: 40px;
  color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
}

.statistic-label {
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
}

/* ///////////////apartments-cards//////////////////// */

.apartments-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5f3;
  margin-top: 72px;
}

.apartments-container {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  padding-bottom: 84px;
  max-width: 1110px;
  width: 100%;
}

.apartments-title {
  display: block;
  width: 440px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
}

.apartments-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 995px;
  margin-bottom: 100px;
}

.apartments-card {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 500px;
  background-color: #b1d7e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

.apartments-img-card-wrapper {
  margin-bottom: auto;
}

.apartments-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 19px 17px 19px;
  height: 83px;
  background: var(--white-color);
}

.apartments-card-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.apartments-address {
  display: block;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-style: normal;
  font-size: 15px;
  white-space: wrap;
}

.apartments-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartments-price {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 18px;
  color: #ffcc01;
  padding-top: 5px;
}

.apartments-description-wrapper {
  display: flex;
  align-items: center;
}

.apartments-description {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

#icon-shower {
  color: #919eb1;
  margin-right: 5px;
}

#icon-single_bed {
  color: #919eb1;
  margin-right: 5px;
  font-size: 24px;
}

.apartments-description-text {
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
  color: #919eb1;
}

.apartments-input-wrapper {
  display: flex;
  max-width: 1110px;
  width: 100%;
}

.view-apartments-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 252px;
  height: 70px;
  margin-left: 36px;
  border-radius: 4px;
}

.view-apartments {
  font-family: var(--montserrat-font);
  font-weight: var(--medium-fw);
  font-size: 15px;
  text-decoration: none;
  color: black;
}

/* //////////////////////HOW-IT-WORKS///////////////////// */

.how-it-works {
  max-width: 1115px;
  width: 100%;
  padding: 0px 0px;
  margin: 15px auto;
}

.how-it-works-container {
  display: flex;
  flex-direction: column;
}

.title-subtitle-works {
  max-width: 367px;
  width: 100%;
}

.title-works {
  display: block;
  margin-bottom: 17px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 40px;
  color: #1f373d;
}

.subtitle-works {
  font-family: var(--montserrat-font);
  font-weight: var(--medium-fw);
  font-size: 12px;
  color: #1f373d;
  line-height: 29px;
  padding: 0;
}

.find-make-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-left: 5px;
}

.find-your-location-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 346px;
  height: 362px;
  padding-top: 10px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.find-your-location-card:hover {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.find-your-location-card:hover .under-content::after {
  background-color: var(--white-color);
}

.number {
  position: absolute;
  top: -70px;
  left: -20px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 160px;
}

.find-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 193px;
  margin-bottom: 36px;
}

.title-card {
  font-size: 18px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  text-align: start;
  margin-bottom: 20px;
}

.content-under-wrapper {
  display: block;
  width: 100%;
  padding-left: 20px;
}

.content-under-wrapper p {
  display: block;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 13px;
  line-height: 31px;
  margin-top: 0;
}

.content-under-wrapper p :last-of-type {
  margin-top: 20px;
  margin-bottom: 37px;
}

.under-content {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 13px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.under-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

.services-works {
  margin-top: 56px;
  max-width: 395px;
  width: 100%;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
}

.title-services {
  font-size: 37px;
  margin-bottom: 0;
}

.text-services {
  margin-top: 18px;
  font-size: 13px;
  line-height: 30px;
}

/* //////////////////////////rent-sell-build////////////////////////// */

.rent-sell-build {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  background-color: #b1d7e8;
  margin-top: 30px;
  height: 630px;
}

.rent-sell-build-content-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 131px;
  width: 44%;
  height: 100%;
  background-color: white;
}

.renting {
  display: flex;
  flex-direction: column;
  width: 441px;
  height: 161px;
  font-family: var(--montserrat-font);
}

.renting-title {
  font-size: 25px;
  font-weight: var(--bold-fw);
}

.renting-content {
  padding-top: 27px;
  padding-bottom: 50px;
  line-height: 29px;
  font-size: 13px;
  font-family: var(--normal-fw);
}

/* //////////////meet our agents////////////// */

.meet-our-agents {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5f3;
  margin-top: 74px;
}

.meet-our-agents-container {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  padding-bottom: 84px;
  max-width: 1110px;
  width: 100%;
}

.meet-our-agents-title {
  display: block;
  width: 365px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 37px;
  margin-top: 0;
}

.meet-our-agents-text {
  font-size: 12px;
  line-height: 29px;
}

.meet-our-agents-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 995px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.meet-our-agents-card {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 470px;
  background-color: #cdccce;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.meet-our-agents-card:hover {
  background: #acd1e1;
  transform: scale(1.01);
  transition: transform 0.3s;
}

.meet-our-agents-img-card-wrapper {
  margin-bottom: auto;
}

.meet-our-agents-card-info {
  display: flex;
  align-items: center;
  padding: 18px 16px 30px 24px;
  height: 45px;
  background: var(--white-color);
}

.meet-our-agents-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agent-meet-our-agents {
  display: block;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-style: normal;
  font-size: 15px;
}

.agent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
}

.agent-name {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 13px;
  color: #ffcc01;
}

.agent-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  max-width: 115px;
  width: 100%;
}
