/* VARIABLES */

:root {
  /* colors  */
  --white-color: #ffffff;
  --yellow-color: #ffcc01;
  --heder-text-color: #1e383d;
  --search-input-text-color: #919eb1;

  /* fonts  */
  --montserrat-font: "Montserrat", sans-serif;

  /* fonts weight  */
  --normal-fw: 400;
  --medium-fw: 500;
  --semi-bold-rw: 600;
  --bold-fw: 700;
}

/* COMMON STYLES */

html,
body {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}

/* CUSTOM STYLES */

.center-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ////////     HEADER      /////////// */
.header {
  width: 100%;
  padding: 28px 0;
}
.container-header {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-box {
  display: flex;
  align-items: center;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header-logo {
  position: absolute;
  max-width: 150px;
  height: 30px;
  width: 100%;
  margin-right: 15px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 15px;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
}

.header-login {
  margin-left: 100px;
}

.login-list {
  display: flex;
  align-items: center;
}

.login-list li + li {
  padding-left: 22px;
}

.login-list .btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-list {
  display: flex;
}

.nav-list li + li {
  padding-left: 30px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn_header {
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: #ffcc01;
  padding: 11px 22px;
  border-radius: 5px;
}

.location-wrapper {
  display: flex;
  max-width: 595px;
  width: 100%;
  height: 84px;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.phone-location-icon {
  color: var(--white-color);
  font-size: 25px;
  margin-right: 30px;
}

.phone-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51%;
  font-size: 18px;
  font-weight: var(--semi-bold-rw);
}

.address-wrapper {
  display: flex;
  align-items: center;
  width: 49%;
  font-size: 18px;
}

/* ////////     section-banner     /////////// */
.section-banner {
  position: relative;
  width: 100%;
  padding-top: 90px;
  min-height: 541px;
  font-family: var(--montserrat-font);
}

.section-banner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 32%;
  background: #97becf;
}

.container-banner {
  max-width: 1230px;
  margin: 0 auto;
}

.banner-wrap {
  position: relative;
  z-index: 1;
}

.link-icon-down {
  transform: rotate(-90deg);
  color: #919eb1;
}

.link-down {
  text-decoration: none;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
  color: #919eb1;
}

.banner-form {
  margin-bottom: 140px;
  margin-left: 55px;
  max-width: 660px;
}

.banner-form .title {
  font-size: 61px;
  line-height: 78px;
  color: #20373c;
  margin-bottom: 40px;
}

.banner-form .form-group {
  display: flex;
}

.banner-form input {
  height: 70px;
  max-width: 380px;
  width: 100%;
  font-size: 15px;
  line-height: 1;
  background: url(img/search.jpg) no-repeat;
  background-position: 40px 50%;
  background-size: auto;
  padding: 10px 10px 14px 75px;
  border: none;
  background-color: white;
}

.banner-form input + .btn {
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
}

.banner-form .btn {
  border: none;
  background: #ffcc01;
  padding: 12px 34px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.banner-description {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
}

.banner-description .contact-list {
  display: flex;
}

.contact-list {
  display: flex;
}

.contact-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 84px;
  background-color: #ffcc01;
}

.contact-list li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* ////////     STATISTICS      /////////// */

.statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  max-width: 1110px;
  width: 100%;
}

.company-statistics {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
}

.company-statistics h3 {
  display: block;
  max-width: 310px;
  width: 100%;
  font-family: var(--montserrat-font);
  font-size: 38px;
  font-weight: var(--bold-fw);
  margin-top: 0;
  margin-bottom: 55px;
}

.company-statistics p {
  margin: 0;
  font-family: var(--montserrat-font);
  font-size: 13px;
  font-weight: var(--normal-fw);
  line-height: 30px;
  color: #1f373d;
}

.company-statistics :nth-child(2) {
  margin-bottom: 30px;
}

.statistics-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 430px;
  width: 100%;
}

.statistics-boxes :nth-child(3) {
  margin-bottom: 0;
}

.statistics-boxes :nth-child(4) {
  margin-bottom: 0;
}

.statistic-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  background-color: #f6f5f4;
  margin-bottom: 30px;
}

.statistic-value {
  font-size: 40px;
  color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
}

.statistic-label {
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
}

/* ///////////////apartments-cards//////////////////// */

.apartments-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5f3;
  margin-top: 72px;
}

.apartments-container {
  display: flex;
  flex-direction: column;
  padding-top: 53px;
  padding-bottom: 84px;
  max-width: 1110px;
  width: 100%;
}

.apartments-title {
  display: block;
  width: 440px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
}

.apartments-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 995px;
  margin-bottom: 100px;
}

.apartments-card {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

.apartments-img-card-wrapper {
  margin-bottom: auto;
}

.apartments-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 19px 17px 19px;
  height: 83px;
  background: var(--white-color);
}

.apartments-card-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.apartments-address {
  display: block;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-style: normal;
  font-size: 15px;
  white-space: wrap;
}

.random-street {
  text-decoration: none;
  color: #1f373d;
}

.apartments-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apartments-price {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 18px;
  color: #ffcc01;
  padding-top: 5px;
}

.apartments-description-wrapper {
  display: flex;
  align-items: center;
}

.apartments-description {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

#icon-shower {
  color: #919eb1;
  margin-right: 5px;
}

#icon-single_bed {
  color: #919eb1;
  margin-right: 5px;
  font-size: 24px;
}

.apartments-description-text {
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
  color: #919eb1;
}

.apartments-input-wrapper {
  display: flex;
  max-width: 1110px;
  width: 100%;
}

.view-apartments-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 252px;
  height: 70px;
  margin-left: 36px;
  border-radius: 4px;
}

.view-apartments {
  font-family: var(--montserrat-font);
  font-weight: var(--medium-fw);
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.title-input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 91px;
  max-width: 620px;
  width: 100%;
}

.banner-title {
  font-weight: var(--bold-fw);
  font-size: 58px;
  line-height: 78px;
  margin-bottom: 43px;
  word-spacing: -4px;
}

.input-wrapper {
  display: flex;
  position: relative;
  border: none;
  border-radius: 5px;
  max-width: 483px;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

#icon-search {
  position: absolute;
  top: 27px;
  left: 30px;
  color: var(--search-input-text-color);
  font-size: 17px;
}

.banner-input {
  width: 305px;
  border: none;
  outline: none;
  background: none;
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--normal-fw);
  color: var(--search-input-text-color);
  background-color: var(--white-color);
  padding-left: 57px;
}

.search-button {
  width: 118px;
  border: none;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-size: 15px;
  font-weight: var(--semi-bold-rw);
  color: #1f373d;
  cursor: pointer;
}

/* //////////////////////HOW-IT-WORKS///////////////////// */

.how-it-works {
  max-width: 1115px;
  width: 100%;
  padding: 0px 0px;
  margin: 15px auto;
}

.how-it-works-container {
  display: flex;
  flex-direction: column;
}

.title-subtitle-works {
  max-width: 367px;
  width: 100%;
}

.title-works {
  display: block;
  margin-bottom: 17px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 40px;
  color: #1f373d;
}

.subtitle-works {
  font-family: var(--montserrat-font);
  font-weight: var(--medium-fw);
  font-size: 12px;
  color: #1f373d;
  line-height: 29px;
  padding: 0;
}

.find-make-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-left: 5px;
}

.find-your-location-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 346px;
  height: 362px;
  padding-top: 10px;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.find-your-location-card:hover {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.find-your-location-card:hover .under-content::after {
  background-color: var(--white-color);
}

.number {
  position: absolute;
  top: -70px;
  left: -20px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 160px;
}

.find-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 193px;
  margin-bottom: 36px;
}

.title-card {
  font-size: 18px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  text-align: start;
  margin-bottom: 20px;
}

.content-under-wrapper {
  display: block;
  width: 100%;
  padding-left: 20px;
}

.content-under-wrapper p {
  display: block;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 13px;
  line-height: 31px;
  margin-top: 0;
}

.content-under-wrapper p :last-of-type {
  margin-top: 20px;
  margin-bottom: 37px;
}

.under-content {
  display: block;
  position: relative;
  width: fit-content;
  font-size: 13px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
}

.under-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
}

.services-works {
  margin-top: 56px;
  max-width: 395px;
  width: 100%;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
}

.title-services {
  font-size: 37px;
  margin-bottom: 0;
}

.text-services {
  margin-top: 18px;
  font-size: 13px;
  line-height: 30px;
}

/* //////////////////////////rent-sell-build////////////////////////// */

.rent-sell-build {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  background-color: #b1d7e8;
  margin-top: 30px;
  height: 630px;
}

.rent-sell-build-content-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 131px;
  width: 44%;
  height: 100%;
  background-color: white;
}

.renting {
  display: flex;
  flex-direction: column;
  width: 441px;
  height: 161px;
  font-family: var(--montserrat-font);
}

.renting-title {
  font-size: 25px;
  font-weight: var(--bold-fw);
}

.renting-content {
  padding-top: 27px;
  padding-bottom: 50px;
  line-height: 29px;
  font-size: 13px;
  font-family: var(--normal-fw);
}

/* //////////////meet our agents////////////// */

.meet-our-agents {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f5f3;
  margin-top: 74px;
}

.meet-our-agents-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  max-width: 1110px;
  width: 100%;
}

.meet-our-agents-title {
  display: block;
  width: 365px;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 37px;
  margin-top: 0;
}

.meet-our-agents-text {
  font-size: 12px;
  line-height: 29px;
}

.meet-our-agents-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  height: 570px;
  margin-top: 50px;
}

.meet-our-agents-card {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 470px;
  background-color: #cdccce;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.meet-our-agents-card:hover {
  background: #acd1e1;
  transform: scale(1.01);
}

.meet-our-agents-img-card-wrapper {
  margin-bottom: auto;
  text-decoration: none;
  color: #1f373d;
}

.meet-our-agents-card-info {
  display: flex;
  align-items: center;
  padding: 18px 16px 30px 24px;
  height: 45px;
  background: var(--white-color);
}

.meet-our-agents-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agent-meet-our-agents {
  display: block;
  margin-bottom: 10px;
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-style: normal;
  font-size: 15px;
  text-decoration: none;
  color: #1f373d;
}

.agent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
}

.agent-name {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 13px;
  color: #ffcc01;
  text-decoration: none;
}

.agent-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  max-width: 115px;
  width: 100%;
}

/* /////////////////SUPER-AWESOME-ADD//////////////// */

.awesome-add {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  max-width: 1220px;
  width: 100%;
  height: 1281px;
}

.awesome-add-wrapper {
  display: flex;
  flex-direction: column;
}

.awesome-add-wrapper :nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.background-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.background-icon-warapper {
  position: relative;
}

.background-content {
  width: 542px;
  height: 332px;
  background: #8da4be;
  margin-left: 50px;
}

.adress-icon-awesome-add {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 82px;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  top: 290px;
  left: 165px;
  font-size: 18px;
}

.content-awesome-add {
  max-width: 440px;
  width: 100%;
  padding-top: 52px;
  padding-left: 65px;
  padding-right: 60px;
}

.super-awesome-add {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 25px;
  word-spacing: -1px;
}

.text-awesome-add {
  margin-top: 25px;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
  line-height: 30px;
}

.adress-icon-awesome-add2 {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 82px;
  background-color: var(--yellow-color);
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);

  right: 0px;
  top: 700px;

  font-size: 18px;
}

.background-content-wrapper2 {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.background-content2 {
  width: 542px;
  height: 332px;
  background: #8da4be;
  margin-right: 58px;
}

.content-awesome-add2 {
  max-width: 450px;
  width: 100%;
  padding-top: 40px;
  padding-left: 57px;
}

.text-awesome-add2 {
  margin-top: 25px;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  font-size: 13px;
  line-height: 30px;
  text-align: right;
}

.super-awesome-add2 {
  font-family: var(--montserrat-font);
  font-weight: var(--bold-fw);
  font-size: 25px;
  word-spacing: -4px;
  margin-left: 179px;
}

.background-content-wrapper3 {
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
}

.content-button-add3 {
  max-width: 440px;
  width: 100%;
  padding-top: 52px;
  padding-left: 65px;
  padding-right: 60px;
}

.button-content-wrapper {
  display: flex;
  margin-left: 130px;
}
.awesome-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 82px;
  margin-top: 40px;
  background: #1f373d;
  cursor: pointer;
  font-family: var(--montserrat-font);
  font-weight: var(--semi-bold-rw);
  font-size: 18px;
  color: white;
}

/* /////////////////FOOTER/////////////////// */
.footer {
  background: #1f373d;
  width: 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 60px;
}

.footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 145px;
}

.footer-logo {
  font-family: var(--montserrat-font);
  line-height: 15px;
}

.footer-block h1 {
  font-size: 40px;
}

.footer-search input {
  width: 445px;
  height: 70px;
  color: #919eb1;
  font-size: 15px;
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  padding-left: 27px;
}

hr {
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: 70px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links-logo {
  display: block;
  font-family: var(--montserrat-font);
}

.footer-links-logo h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: var(--semi-bold-rw);
  font-size: 25px;
}

.footer-links-logo p {
  width: 130px;
  height: 40px;
  font-weight: var(--normal-fw);
  font-size: 14px;
  line-height: 20px;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 253px;
  margin-right: 90px;
}

.footer-link p {
  font-family: var(--montserrat-font);
  font-weight: var(--normal-fw);
  text-transform: uppercase;
  font-size: 13px;
  color: #919eb1;
  margin-bottom: 35px;
}

.footer-link a {
  font-family: var(--montserrat-font);
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: var(--normal-fw);
  margin-bottom: 20px;
}

.footer-link a:hover {
  opacity: 0.4;
}
